@model ECEInventory.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Details</h2>

<div>
    <hr />
    <dl class="dl">
        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            Orgn Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgnCode)
        </dd>

        <dt>
            Orgn Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgnTitle)
        </dd>

        <dt>
            Room
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            Building
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bldg)
        </dd>

        <dt>
            Sort Room
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortRoom)
        </dd>

        <dt>
            Ptag
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptag)
        </dd>

        <dt>
            Manufacturer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            S/N
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Current Custodian
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custodian)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            PO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO)
        </dd>

        <dt>
            Acq Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcqDate)
        </dd>

        <dt>
            Amt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amt)
        </dd>

        <dt>
            Ownership
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ownership)
        </dd>

        <dt>
            Schev Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchevYear)
        </dd>

        <dt>
            Tag Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagType)
        </dd>

        <dt>
            Asset Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetType)
        </dd>

        <dt>
            Atyp Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtypTitle)
        </dd>

        <dt>
            Condition
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            Last Inv Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastInvDate)
        </dd>

        <dt>
            Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "AllRequests")
</p>
